.card {
  padding: 0;
  background-color: black;
  border: none;
}
.card-body {
  padding: 0;
  background-color: black;
  border: none;
}
.card-title {
  padding: 0;
  background-color: black;
  border: none;
}
