.panel {
  background-color: #141414;
  border: none;
}
.imgalign {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.thead {
  font-size: 22px;
  text-align: center;
  color: #fff7f1;
}
.tempbox {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #3d3d3d80;
}

.tempbox:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  font-weight: 900;
  font-family: Georgia;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-indicators {
  left: 260px;
  right: 0px;
  top: 20;
}
p {
  color: white;
  padding-right: 100px;
  position: absolute;
  bottom: 20px;
  right: 290px;
  font-size: 25px;
}
