#form {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 80px);
}
#form div {
  height: 40px;
}
#first {
  grid-column: 5/7;
}
#last {
  grid-column: 7/9;
}
#email {
  grid-row: 2/3;
  grid-column: 6/8;
}
#user {
  grid-column: 6/8;
  grid-row: 3/4;
}
#phone {
  grid-row: 4/5;
  grid-column: 6/8;
}
#pass {
  grid-row: 5/6;
  grid-column: 5/7;
}
#pass2 {
  grid-row: 5/6;
  grid-column: 7/9;
}

#submit {
  grid-row: 3/4;
  grid-column: 8/9;
  height: 83px;
}
button:hover {
  cursor: pointer;
}
.form-control {
  background-color: #141414;
  border: none;
  border-radius: 0px;
  border-bottom: 5px solid #636e72;
}
.form-control:hover {
  background-color: #47494a;
  border-bottom-color: white;
}
.form-control:focus {
  background-color: white;
  border-bottom-color: green;
}
.form-control::placeholder {
  font-size: 16px;
  color: white;
}
.form-control:focus::placeholder {
  color: black;
}
.btn-default {
  background-color: #141414;
  border: none;
  color: white;
  padding: 12px 20px 12px 20px;
}
.btn-default:hover {
  border-radius: 0;
  background-color: white;
}
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  margin-left: 77px;
  width: 221px;
}
