main#spapp > section { display: none; } 
main#spapp > section:last-child { display: block; } 
@keyframes appear { from { width:0; opacity:0; } to { width:100%; opacity:1; } } 
main#spapp > section:target { display: block; animation: appear 0.1s linear 1; } 
main#spapp > section:target ~ * { display: none; }



body {
  background-color: #141414;
}
.navbar {
  background-color: #141414;
  border: none;
}
.navbar-brand {
  color: white;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 20px;
}
.navi {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 20px 12px 20px;
  margin-top: 10px;
}
.navbar-form .form-control {
  border: none;
  background-color: #141414;
  border-bottom: 5px solid #636e72;
}

.form-control:focus {
  border-bottom: 5px solid #ffffff;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn-default {
  background-color: #141414;
  border: none;
  color: white;
  padding: 12px 20px 12px 20px;
}
.btn-default:hover {
  border-radius: 0;
  background-color: white;
}
